

{{define "vertical_menu"}}

<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="/index" class="logo logo-dark">
            <span class="logo-sm">
                <img src="static/assets/images/logo-sm-light.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="static/assets/images/logo-dark.png" alt="" height="22">
            </span>
        </a>

        <a href="/index" class="logo logo-light">
            <span class="logo-sm">
                <img src="static/assets/images/logo-sm-light.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="static/assets/images/logo-light.png" alt="" height="22">
            </span>
        </a>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="/index" class="waves-effect">
                        <i class="ri-home-gear-line"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                


               

                

                
    
              

    

                <!-- <li class="menu-title">Authentication</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-account-circle-line"></i>
                        <span>Authentication</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="auth-login.html">Login</a></li>
                        <li><a href="auth-register.html">Register</a></li>
                        <li><a href="auth-recoverpw.html">Recover Password</a></li>
                        <li><a href="auth-lock-screen.html">Lock Screen</a></li>
                    </ul>
                </li> -->

              

                <li class="menu-title">Categories</li>

                

                

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-table-2"></i>
                        <span>Categories</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/GetExcelData">Categories</a></li>
                    </ul>
                </li>

                

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->

{{end}}